.hero {
  position: relative;
}

.hero-bg {
  background-image: url('../../../public/images/IMAGE\ \(5\).png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.hero-inner {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 24px;
}

.hero h1 {
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 27px;
leading-trim: NONE;
line-height: 38.4px;
letter-spacing: 0.2px;
text-align: center;
color: #fff;
margin-bottom: 40px;
}

.btn-primary {
  background: transparent;
  color: #111;
  border: none;
  padding: 10px 18px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  font-family: Cardo;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}

.btn-primary:hover {
  opacity: 0.9;
}