.press-section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.press-strip {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .press-heading {
    font-size: 16px;
  }

  .press-logo {
    font-size: 14px;
  }
}
